body{
    position: relative;
}

.auth {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.auth button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #3b5998;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.signin {
    display: block;
    padding: 80px;
}

.signin input{
    border: 2px solid;
    margin: 18px;
    padding: 10px;
    height: 50%;
    box-sizing: border-box;
}